@import url("https://fonts.googleapis.com/css2?family=Google+Sans");

*{
    transition: all 0.2s;
}

body{
    margin:0;
    font-family: 'Google Sans';
    padding: 0 100px;
    background-repeat : no-repeat;
}

pre{
  font-family: 'Google Sans';
}

h1{
    padding: 20;
    margin-bottom: 0;
}

iframe{
    z-index: 0;
    width:100%;
    height:100%;
    border:none;
    position:absolute;
}
#cache{
    z-index: 1;
    width: 68px;
    height: 64px;
    background-color:#ffffff;
    position: absolute;
    top:0;
    left:0;
    display: block;
}

.code{
    background-color: rgb(40,40,40);
    color:white;
    border-radius:5px;
    padding: 10px 15px;
    line-height:20px;
    font-family: 'Consolas';
    width:auto;
    white-space: pre;
}

#menu{
    z-index: 2;
    margin:8px 8px;
    padding: 11px;
    background-color:rgb(255, 255, 255, 1);
    position: absolute;
    top:0;
    left:0;
    border-radius:360px;
    box-shadow: 0 1px 2px 0 rgb(60,64,67,0.6);
    transition:0.2s;
}

#menu:hover{
    box-shadow: 0 1px 4px 1px rgb(60,64,67,0.6);
    transition:0.2s;
}

#menu::before{
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 80" width="40" height="40"><rect width="100" height="20"></rect><rect y="30" width="100" height="20"></rect><rect y="60" width="100" height="20"></rect></svg>');
}


#new{
    transform-origin: top;
    position: absolute;
    top:65;
    z-index: 1;
    left:0;
    list-style-type: none;
    padding:0;
    margin: 0px 8px;
    box-shadow: 0 1px 2px 0 rgb(60,64,67,0.6);
}


#new > li{
    padding:10px 20px;
    background-color:rgb(255, 255, 255, 1);
    transition:0.2s;
}

#new > li:hover{
    background-color:rgb(220, 220, 220);
    transition:0.2s;
}

#new > #authorize_button{
    background-color:rgb(89, 216, 255);
}

#new > #signout_button{
    background-color:rgb(255, 92, 92);
}

.container{
  position:absolute;
  padding:20px;
  transform-origin: top;
}

.hide{transform: scale(1, 0);}
.show {transform: scale(1, 1);}
